.blue {
  background-color:blue;
}

.red {
  background-color:red;
}

.default {
  background-color:lightgray;
}

td {
  border: solid;
  height:40px;
  width:40px;
  text-align: center;
}

.container {
	margin-top: 10px;
}

table {
	margin-left: auto;
	margin-right:auto;
}

.bluescore {
  color:blue;
}

.redscore {
  color:red;
}